* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

.my_container1 {
    max-width: 712px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
/* padding-margin */

.pt_30{
    padding-top: 30px;
}
.pb_30{
    padding-bottom: 30px;
}
.mt_18{
    margin-top: 18px;
}
.mt_30{
    margin-top: 30px;
}
.mb_30{
    margin-bottom: 30px;
}
/* padding-margin */
.Search{
background-color: red;
padding: 8px 16px 8px 16px;
border-radius: 18px;

}
.search_1{
border: unset !important;
border: none !important;
}
.arrows_color{
background-color :#FFC881;
padding: 3px 10px;
border-radius: 18%;
}
.section1_text{
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.explore_btn{
padding: 8px 16px;
border-radius: 22px;
background: var(--color-p, linear-gradient(147deg, #FFC881 0%, #DA8517 100%));

}
.explore_btn:hover{
box-shadow: 6px 4px 25px 0px rgba(229, 156, 62, 0.34);
}
.four_box{
    border-radius: 7px;
    border: 1px solid #DA8517;
    
}
.text_box_padding{
    padding: 12px 14px 9px 13px;
}
.orange_line{
    width: 1px;
height: 59px;   
background: linear-gradient(147deg, #FFC881 0%, #DA8517 100%);
}
.section1_image{
    overflow: hidden;
    border-radius: 18px;
    margin-right: 16px;
    top: 8%;
}

.section1_image:hover{
    transform: scale3d(1.2);

}
@media(min-width:320px){
    .section1_image{
        position: unset;
    }

}
@media(min-width:768px){
 .section1_image{
        position: absolute;
    }

}

/* slider */
.section1_slider .element{
  display:inline-block;
  margin:0px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.section1_slider .slick-disabled {
  opacity : 0; 
  pointer-events:none;
}

/* slider */