* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

.my_container1 {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.arrows_color{
Color :#FFC881, #DA8517;
}